$primary: #3E7236;
$secondary: #667236;
$marron: #6F4F20;
$bg-dack: #261D10;
$noir: #000000;
$blanc: #FFFFFF;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Irish Grover", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap.scss";